.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100% ; 
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.modal.is-open{
    display: flex;
    width: 100%;
    
}
.modal-container{
    position: relative;
    background-image: url("../assets/Bg\ index.jpg");
    border-radius: 10px;
    min-width: 320px;
    max-width: 1000px;
    min-height: 200px;
    max-height: 800px;
    overflow-y: auto;
}
.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.modal-images{
   margin-top: 40px;
}
