@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@200&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-size: cover;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    background-image: url("../src/assets/Bg\ index.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    list-style: none
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 0px;
}

:root {
    --theme-color : white ;
    --primary-color : #001b34 ;
    --secundary-color : #F7C331 ;
    --text-color-inverse : white ;
    --text-color : rgb(255, 255, 255) ;
    --navbar-shallow-color : #e5e5e587 ;
    --menu-mobile-background-color : #3A4460 ;
 }

 @media(max-width:600px){
    body{
    background-image: url("../src/assets/Bd-responsive.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
}

 